#Setup conda env
module load anaconda/3
conda create --name pyscf python=3
    source activate pyscf
    conda info --envs
            # conda environments:
            #
            pyscf                *  /home/sapatha2/.conda/envs/pyscf
            base                     /usr/local/anaconda/5.2.0/python3
    python --version
            Python 3.7.4

#Install dask
conda install --name pyscf dask

#Install dask_mpi
#conda install dask-mpi -c conda-forge ##DONT DO THIS, installs openmpi, pyscf, etc without proper linking
which pip
    ~/.conda/envs/pyscf/bin/pip
pip install dask_mpi --upgrade

#Install mpi4py
module load openmpi/3.1.1-gcc-7.2.0 #Intel works fine too
which mpicc
    /usr/local/mpi/openmpi/3.1.1/gcc/7.2.0/bin/mpicc
env MPICC=`which mpicc` pip install mpi4py

#Add conda hook to bashrc
if [ -f "/usr/local/anaconda/5.2.0/3/etc/profile.d/conda.sh" ]; then
    . "/usr/local/anaconda/5.2.0/3/etc/profile.d/conda.sh"
else
    export PATH="/usr/local/anaconda/5.2.0/3/bin/:$PATH"
fi
conda activate base
